.callmangler {
    --base07: #000000;
    --base06: #212529;
    --base05: #343a40;
    --base04: #495057;
    --base03: #6c757d;
    --base02: #adb5bd;
    --base01: #ced4da;
    --base00: #f2f2f2;
    --base08: #e2231a;
    --base09: #385e8b;
    --base0A: #eed202;
    --base0B: #5abf4b;
    --base0C: #00bceb;
    --base0D: #1e4471;
    --base0E: #fbab18;
    --base0F: #052b58;

}